<template>
  <div p6>
    <el-button mb-5 type="primary" size="large" plain @click="open('add')">新 增</el-button>
    <br />
    <el-button-group mb-5 class="ml-4" size="large" v-for="tab in tabs" :key="tab['type']">
      <el-button type="" :icon="Edit" @click="open('edit', tab['id'], tab['name'])" />
      <el-button type="">{{ tab["name"] }}</el-button>
      <el-button type="" :icon="Delete" @click="delFn(tab['id'])" />
    </el-button-group>

    <!-- <el-button text @click="open">Click to open Message Box</el-button> -->
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue"
import { ElMessage, ElMessageBox } from "element-plus"

import { getTabs, editTabs, delTabs } from "@/api/center"
import { Delete, Edit } from "@element-plus/icons-vue"

const tabs = ref([])
const tabsValue = ref("")
const tabsData = {
  id: "",
  name: "",
  type: "",
  action: ""
}

// editTabs(tabsData)
const getTabsPost = () => {
  getTabs().then((res) => {
    tabs.value = res.data
  })
}
const editTabsPost = () => {
  editTabs(tabsData).then(() => {
    ElMessage({
      type: "success",
      message: `操作成功`
    })
    getTabsPost()
  })
}

const delTabsPost = (id: number) => {
  delTabs({ id }).then(() => {
    ElMessage({
      type: "success",
      message: "操作成功"
    })
    getTabsPost()
  })
}

getTabsPost()

const open = (type: string, id?: number, name?: string) => {
  tabsData.action = type
  if (id) tabsData.id = String(id)
  if (name) {
    tabsValue.value = name
  }
  ElMessageBox.prompt("请输入名称", "Tip", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    inputPattern: /^.+$/,
    inputValue: tabsValue.value,
    inputErrorMessage: "不能为空"
  })
    .then(({ value }) => {
      tabsData.name = value.trim()
      editTabsPost()
    })
    .catch(() => {})
    .finally(() => {
      tabsValue.value = ""
    })
}

const delFn = (id: number) => {
  console.log(id)
  ElMessageBox.confirm("确认删除此纪录?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "error"
  })
    .then(() => {
      delTabsPost(id)
    })
    .catch(() => {})
}
</script>
