<template>
  <div p6>
    <h4 mb-6>修改用户名</h4>
    <el-form ref="ruleName" :rules="rulesName" :inline="true" :model="formName" class="demo-form-inline" mb-20>
      <el-form-item label="现用户名" prop="oldName">
        <el-input v-model="formName.oldName" disabled />
      </el-form-item>
      <el-form-item label="新用户名" prop="name">
        <el-input v-model="formName.name" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onModifyName(ruleName)"> 确 认 </el-button>
      </el-form-item>
    </el-form>

    <h4 mb-6>修改用户密码</h4>
    <el-form ref="rulePasswd" :rules="rulesPasswd" :inline="true" :model="formPasswd" class="demo-form-inline" mb-20>
      <el-form-item label="现用户密码" prop="oldPasswd">
        <el-input type="password" v-model="formPasswd.oldPasswd" />
      </el-form-item>
      <el-form-item label="新用户密码" prop="passwd">
        <el-input type="password" v-model="formPasswd.passwd" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onModifyPasswd(rulePasswd)"> 确 认 </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script setup lang="ts">
import { computed, reactive, ref } from "vue"
import { useRouter } from "vue-router"
import { useUserStore, useUserStoreHook } from "@/store/modules/user"
import type { FormInstance, FormRules } from "element-plus"
import { ElMessage } from "element-plus"
import { modifyName, modifyPasswd } from "@/api/login"

const ruleName = ref<FormInstance>()
const rulePasswd = ref<FormInstance>()

const userStore = useUserStore()
const userStoreHook = useUserStoreHook()
const router = useRouter()

const rulesName = reactive<FormRules>({
  oldName: [{ required: true, message: "Please input Activity name", trigger: "blur" }],
  name: [{ required: true, message: "请输入新用户名", trigger: "blur" }]
})
const rulesPasswd = reactive<FormRules>({
  oldPasswd: [{ required: true, message: "请输入现用户密码", trigger: "blur" }],
  passwd: [{ required: true, message: "请输入新用户密码", trigger: "blur" }]
})

const userName = computed(() => {
  return userStore.userInfo
})
const formName = reactive({
  oldName: userName.value.name,
  name: "",
  id: userName.value.id
})

const formPasswd = reactive({
  oldPasswd: "",
  passwd: "",
  id: userName.value.id
})

const onModifyName = async (formEl: FormInstance | undefined) => {
  if (!formEl) return
  await formEl.validate((valid, fields) => {
    if (valid) {
      // const { id, oldName, name } = formName
      modifyName(formName).then((res) => {
        userStoreHook.getInfo()
        ElMessage({
          message: res.data.info,
          type: "success"
        })
      })
    } else {
      console.log("error submit!", fields)
    }
  })
}

const onModifyPasswd = async (formEl: FormInstance | undefined) => {
  if (!formEl) return
  await formEl.validate((valid, fields) => {
    if (valid) {
      // const { id, oldPasswd, oldName } = formPasswd
      modifyPasswd(formPasswd).then((res) => {
        ElMessage({
          message: `${res.data.info}，请重新登录`,
          type: "success"
        })
        setTimeout(() => {
          userStore.logout()
          router.push("/login").catch((err) => {
            console.warn(err)
          })
        }, 1000)
      })
    } else {
      console.log("error submit!", fields)
    }
  })
}
</script>
