<template>
  <div p6>
    <div class="" style="display: flex; align-items: center">
      <el-button type="success" @click="edit()">新增</el-button>
      <span pl-10>选择系统</span>

      <el-select v-model="postForm.type" class="m-2" placeholder="系统类型" clearable @change="changeTabs">
        <el-option v-for="item in options" :key="item['type']" :label="item['name']" :value="item['type']" />
      </el-select>
      <div class="search" w-100 mr-2>
        <el-input v-model="postForm.keyword" placeholder="搜索名称" clearable @clear="getListFn()" />
        <!-- <el-button type="primary">Primary</el-button> -->
      </div>
      <div class="search-btn">
        <el-button @click="getListFn()" type="primary">搜 索</el-button>
      </div>
    </div>

    <div pt-6>
      <el-table v-loading="loading" :data="listData" stripe style="width: 100%">
        <el-table-column prop="name" label="系统" />
        <el-table-column prop="link" label="链接">
          <template #default="scope">
            <el-link type="info" :href="scope.row.link" target="_blank">{{ scope.row.link }}</el-link>
          </template>
        </el-table-column>
        <el-table-column prop="branch" label="归属名称" />
        <el-table-column prop="type" label="归属系统">
          <template #default="scope">
            <el-tag
              :type="
                scope.row.type === 1 ? '' : scope.row.type === 2 ? 'success' : scope.row.type === 3 ? 'info' : 'warning'
              "
              >{{ tagsName(scope.row.type) }}</el-tag
            >
          </template>
        </el-table-column>

        <el-table-column prop="image" label="图片">
          <template #default="scope">
            <el-image v-if="scope.row.image" style="width: 50px; height: 50px" :src="scope.row.image" />
            <span v-else />
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作">
          <template #default="scope">
            <el-button type="primary" size="small" @click="edit(scope.row)">编辑</el-button>
            <el-button type="danger" size="small" @click="del(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-dialog v-model="dialogFormVisible" title="数据" @closed="closed">
      <el-form :model="form" :rules="rules" ref="ruleFormRef">
        <el-form-item label="系统名称" prop="name" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off" />
        </el-form-item>
        <el-form-item label="链接" prop="link" :label-width="formLabelWidth">
          <el-input v-model="form.link" autocomplete="off" />
        </el-form-item>
        <el-form-item label="归属名称" prop="branch" :label-width="formLabelWidth">
          <el-input v-model="form.branch" autocomplete="off" />
        </el-form-item>
        <el-form-item label="归属系统" prop="type" :label-width="formLabelWidth">
          <el-select v-model="form.type" placeholder="选择系统">
            <el-option v-for="item in options" :key="item['type']" :label="item['name']" :value="item['type']" />
          </el-select>
        </el-form-item>
        <el-form-item label="图片" :label-width="formLabelWidth">
          <!-- <el-input v-model="form.image" autocomplete="off" /> -->
          <el-upload
            class="avatar-uploader"
            :headers="headers"
            :action="`${BASEURL}/center/upload`"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="form.image" :src="form.image" class="avatar" />
            <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
          </el-upload>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="submitForm(ruleFormRef)">Confirm</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive } from "vue"
import { getList, getTabs, operate, dele } from "@/api/center"
import type { FormInstance, FormRules, UploadProps } from "element-plus"
import { ElMessage, ElMessageBox } from "element-plus"
import { Plus } from "@element-plus/icons-vue"
import { getToken } from "@/utils/cookies"
// import type { UploadProps } from "element-plus"

// const value = ref()
const postForm = reactive({
  type: "",
  keyword: ""
})
const loading = ref(false)
const options = ref([])
const listData = ref([])
const dialogFormVisible = ref(false)
const formLabelWidth = "140px"
const ruleFormRef = ref<FormInstance>()

const form = reactive({
  id: "",
  name: "",
  link: "",
  branch: "",
  type: "",
  image: "",
  action: ""
})

const headers = {
  Authorization: "Bearer " + getToken()
}

// const imageUrl = ref("")
const BASEURL = import.meta.env.VITE_BASE_API

const handleAvatarSuccess: UploadProps["onSuccess"] = (response) => {
  form.image = response.url
  // imageUrl.value = URL.createObjectURL(uploadFile.raw!)
}

const beforeAvatarUpload: UploadProps["beforeUpload"] = (rawFile) => {
  if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error("Avatar picture size can not exceed 2MB!")
    return false
  }
  return true
}

const rules = reactive<FormRules>({
  name: [{ required: true, message: "系统名称不能为空", trigger: "blur" }],
  link: [{ required: true, message: "链接不能为空", trigger: "blur" }],
  branch: [{ required: true, message: "归属名称不能为空", trigger: "blur" }],
  type: [{ required: true, message: "请选择归属系统", trigger: "blur" }]
})

const changeTabs = () => {
  listData.value = []
  getListFn()
}

const getListFn = () => {
  loading.value = true
  getList(Number(postForm.type), postForm.keyword)
    .then((res) => {
      listData.value = res.data
    })
    .finally(() => {
      loading.value = false
    })
}

const edit = (row?: any) => {
  dialogFormVisible.value = true
  if (row) {
    Object.assign(form, row)
    form.action = "update"
  } else {
    form.action = "add"
  }
}

const del = (id: number) => {
  ElMessageBox.confirm("确认删除此纪录?", "Warning", {
    confirmButtonText: "OK",
    cancelButtonText: "Cancel",
    type: "error"
  })
    .then(() => {
      dele({ id }).then(() => {
        getListFn()
        ElMessage({
          type: "success",
          message: "删除成功"
        })
      })
    })
    .catch(() => {})
}

const closed = () => {
  form.name = ""
  form.link = ""
  form.type = ""
  form.branch = ""
  form.image = ""
  form.id = ""
  // Object.keys(form).forEach((key) => {
  //   form[key] = ""
  // })
}

const tagsName = (type: number) => {
  const nameObj = options.value.find((item) => {
    return item["type"] === type || ""
  })
  return nameObj !== undefined ? nameObj["name"] : "null"
}

const submitForm = async (formEl: FormInstance | undefined) => {
  if (!formEl) return
  await formEl.validate((valid, fields) => {
    if (valid) {
      operate(form).then((res) => {
        ElMessage({
          message: res.data.info,
          type: "success"
        })
        dialogFormVisible.value = false
        getListFn()
      })
    } else {
      console.log("error submit!", fields)
    }
  })
}

onMounted(() => {
  getTabs().then((res) => {
    options.value = res.data
  })
  getListFn()
})
</script>

<style scoped>
.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>

<style lang="scss">
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}

.demo-image__error .image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--el-fill-color-light);
  color: var(--el-text-color-secondary);
  font-size: 30px;
}

.search {
  /* display: flex; */
}
</style>
